version: 2.1
jobs:
  build:
    resource_class: arm.medium
    machine:
      image: ubuntu-2004:current
    environment:
      DOCKER_BUILDKIT: 1
    steps:
      - checkout
          
      - run:
          name: Build Docker image
          command: |
            TAG=arm64-k1A10
            docker build -t sirargupta/split-app:$TAG .
      - run:
          name: Push application Docker image
          command: |
            TAG=arm64-k1A10
            echo $DOCKERHUB_PASSWORD | docker login -u sirargupta --password-stdin
            docker push sirargupta/split-app:$TAG
workflows:
  version: 2
  build-and-publish:
    jobs:
      - build:   
          filters:
            branches:
              only: main
