version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2022.09
        auth:
          username: sirargupta
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          
      - run:
          name: Build Docker image
          command: |
            TAG=arm64-k1A9
            docker build -t sirargupta/split-app:$TAG .
      - run:
          name: Push application Docker image
          command: |
            TAG=arm64-k1A9
            echo $DOCKERHUB_PASSWORD | docker login -u sirargupta --password-stdin
            docker push sirargupta/split-app:$TAG
