name: Buidl & Push

on:
  push:
    branches: ['main']

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Generate Prisma client
        run: npx prisma generate

      - name: Check TypeScript types
        run: npm run check-types

      - name: Check ESLint
        run: npm run lint

      - name: Build & push Docker image
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          tags: arm64-k1A8
          image: sirargupta/split-app
          registry: docker.io
          dockerfile: Dockerfile
          multiPlatform: true
          platform: linux/arm64
          username: sirargupta
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: sirargupta
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64
          push: true
          tags: sirargupta/split-app:arm64-k1A8
